{% load static %}
<html>
    <head>
	<title>Profile Data Browser - xCITE Data Lab</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- leaflet stuff -->
	<link rel="stylesheet" href="//unpkg.com/leaflet@1.1.0/dist/leaflet.css" integrity="sha512-wcw6ts8Anuw10Mzh9Ytw4pylW8+NAD4ch3lqm9lzAsTxg0GFeJgoAtxuCLREZSC5lUXdVyo/7yfsqFjQ4S+aKw==" crossorigin="">
	<script src="//unpkg.com/leaflet@1.1.0/dist/leaflet.js" integrity="sha512-mNqn2Wg7tSToJhvHcqfzLMU6J4mkOImSPTxVZAdo+lcPlk+GhZmYgACEe0x35K7YzW1zJ7XyJV/TT1MrdXvMcA==" crossorigin=""></script>
	<!-- jquery stuff -->
	<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
	<!-- spinning stuff -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
	<!-- for the bootstrap timepicker -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
	<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script> -->
	<!-- <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script> -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
	<!-- alpaca -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
        <link rel="stylesheet" href="//code.cloudcms.com/alpaca/1.5.23/bootstrap/alpaca.min.css" rel="stylesheet" />
        <script src="//code.cloudcms.com/alpaca/1.5.23/bootstrap/alpaca.min.js"></script>
	<!-- Include Date Range Picker -->
	<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
	<!-- the site-wide css file -->
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<!-- a handlebars template for range containters- I should make this a static resource! -->
	<script type="text/x-handlebars-template" id="range">
	    {% verbatim %}
	    <div>
		{{#if options.label}}
		<label class="{{#if options.labelClass}}{{options.labelClass}}{{/if}} control-label alpaca-control-label" for="{{id}}">{{{options.label}}}</label>
		{{/if}}

		{{#if options.helpers}}
		{{#each options.helpers}}
		<p class="alpaca-helper help-block {{#if options.helperClass}}{{options.helperClass}}{{/if}}">
		    <i class="alpaca-icon-16 glyphicon glyphicon-info-sign"></i>
		    {{{.}}}
		</p>
		{{/each}}
		{{/if}}

		{{#container}}{{/container}}
	    </div>
	    {% endverbatim %}
	</script>
	<script type="text/x-handlebars-template" id="helper-on-top">
	    {% verbatim %}
	    <div class="form-group">

		{{#if options.label}}
		<label class="{{#if options.labelClass}}{{options.labelClass}}{{/if}} control-label alpaca-control-label" for="{{id}}">{{{options.label}}}</label>
		{{/if}}

		{{#if options.helpers}}
		{{#each options.helpers}}
		{{#if options.helperClass}}<a href="{% url 'datasets' %}">{{/if}}
		<p class="help-block {{#if options.helperClass}}{{options.helperClass}}{{/if}}">
		    <i class="glyphicon glyphicon-info-sign"></i>
		    {{{.}}}
		</p>
		{{#if options.helperClass}}</a>{{/if}}
		{{/each}}
		{{/if}}

		{{#control}}{{/control}}

		{{#if options.renderButtons}}
		{{#if options.buttons}}
		<div class="alpaca-control-buttons-container">
		    {{#each options.buttons}}
		    <button data-key="{{@key}}" type="{{type}}" class="alpaca-control-button alpaca-control-button-{{@key}} {{styles}}" {{#each value}}{{@key}}="{{value}}" {{/each}}>{{{value}}}</button>
		    {{/each}}
		</div>
		{{/if}}
		{{/if}}

	    </div>
	    {% endverbatim %}
	</script>
	<!-- a bit of styling -->
	<style>
	 /* ... will I put stuff in here? Maybe. */
	 #lidar_graph {
	     min-height: 350px;
	 }
	 .alpaca-control {
	     width: auto;
	 }
	 label.control-label::after {
	     content: ':';
	 }
	 /* .help-block {
	    display: inline;
	    margin-left: 5px;
	    } */
	 /* range field styling */
	 .alpaca-field-range .alpaca-container-item,
	 .alpaca-field-range .form-group,
	 .alpaca-field-range input {
	     display: inline;
	 }
	 .alpaca-field-range .alpaca-container-item label.control-label {
	     font-weight: normal;
	 }
	 .alpaca-field-range .alpaca-container-item label.control-label::after {
	     content: none;
	 }
	 /* time range styling */
	 .alpaca-field-daterange input {
	     min-width: 260px;
	 }
	 /* wide layout formatting */
	 .alpaca-wide .alpaca-layout-binding-holder {
	     display: inline-block;
	     margin-right: 10px;
	 }
	 #left.col-md-6, #right.col-md-6 {
	     min-width: 355px;
	     width: fit-content;
	     float: left;
	 }
	 /* fix the buttons */
	 .alpaca-form-buttons-container {
	     text-align: left;
	     margin: 10px;
	 }
	</style>
    </head>
    <body>
	<div id="height">
	    {% include 'header.html' %}
	    <div id="form"></div>
	    <script type="text/javascript">
	     /* making a Date Range Picker field */
	     $.alpaca.Fields.DateRangeField = $.alpaca.Fields.DatetimeField.extend({
		 getFieldType: function() {
		     return 'daterange';
		 },
		 afterRenderControl: function(model, callback) {
		     var self = this;

		     if (self.view.type !== "display")
			 {
			     if ($.fn.daterangepicker)
				 {
				     /* make sure it updates correctly if you want to show placeholder text */
				     if (self.options.placeholder) {
					 self.options.picker['autoUpdateInput'] = false;
				     };
				     self.getControlEl().daterangepicker(self.options.picker);

				     self.picker = self.getControlEl().data('daterangepicker');
				     /* if (self.picker && self.options.dateFormat)
					{
					self.picker.format(self.options.dateFormat);
					}
					if (self.picker)
					{
					self.options.dateFormat = self.picker.format();
					}*/

				     // with daterangepicker, trigger change using plugin
				     self.control.on("apply.daterangepicker", function(e) {
					 // we use a timeout here because we want this to run AFTER control click handlers
					 setTimeout(function() {
					     self.onChange.call(self, e);
					     self.triggerWithPropagation("change", e);
					 }, 250);

				     });

				     // set value if provided
				     /* if (self.data) {
					self.picker.date(self.data);
					}*/
				 }
			 }
		     callback();
		 },
	     });
	     $.alpaca.registerFieldClass('daterange', $.alpaca.Fields.DateRangeField);
	     /* $.alpaca.registerDefaultSchemaFieldMapping('daterange', 'datetime');*/
	     $.alpaca.registerDefaultFormatFieldMapping("date-time", "daterange");
	     /* making a range field */
	     $.alpaca.Fields.RangeField = $.alpaca.Fields.ObjectField.extend({
		 getFieldType: function() {
		     return 'range';
		 },
		 getTemplateDescriptorId : function ()
		 {
		     return 'range';
		 }
	     });
	     $.alpaca.registerFieldClass('range', $.alpaca.Fields.RangeField);
	     $.alpaca.registerDefaultSchemaFieldMapping('range', 'range');
	     /* creating the form */
	     var drpicker_options = {
		 timePicker: true,
		 timePicker24Hour: true,
		 timePickerIncrement: 5,
		 showDropdowns: true,
		 locale: {
		     format: 'MM/DD/YYYY HH:mm'
		 },
		 opens: 'left'
	     };
	     var var_options = {
		 'cnr': 'CNR',
		 'drws': 'DRWS',
		 'barbs': 'Wind Direction',
		 'hwind': 'Horizontal Wind Speed',
		 'zwind': 'Vertical Wind Speed',
		 'xwind': 'x Wind Speed',
		 'ywind': 'y Wind Speed',
		 'temp': 'Temperature',
		 'vapor': 'Vapor Density',
		 'liquid': 'Liquid',
		 'rh': 'Relative Humidity'
	     };
             $(document).ready(function() {
                 $("#form").alpaca({
                     schema: {
                         title: "Data Options",
                         type: "object",
                         properties: {
			     dr: {
				 title: 'Time range (UTC)',
				 type: 'string'
			     },
			     var: {
                                 type: "string",
                                 title: "Data",
				 default: 'cnr'
                             },
			     sources: {
                                 type: "string",
                                 title: "Sources"
                             },
                             barb: {
				 title: 'Overlays'
			     }
                         }
                     },
                     options: {
			 focus: false,
			 form: {
                             attributes: {
                                 action: 'javascript:update_graphs();'
                             },
                             buttons:{
                                 submit: {
				     title: 'View Data'
				 }
                             }
                         },
                         fields: {
			     dr: {
				 placeholder: 'Loading...',
				 type: 'daterange',
				 picker: drpicker_options
			     },
                             var: {
                                 type: 'select',
				 dataSource: var_options,
				 /* helper: '&#8203;',*/
				 helper: "<a href=\"{% url 'datasets' %}\" target=\"_blank\">see data definitions</a>"
                             },
			     sources: {
                                 type: "select",
				 multiple: true
                             },
			     barb: {
				 type: 'checkbox',
				 rightLabel: 'Wind barbs (DBS mode only)'
                             }
                         }
                     },
		     view: {
			 parent: "bootstrap-edit",
			 layout: {
			     template: "{% static 'profiles/html/form.html' %}",
			     bindings: {
				 var: 'left',
				 dr: 'right',
				 sources: 'left',
				 barb: 'left'
			     }
			 },
			 fields: {
			     /* "/var": {
				templates: {
				control: '#helper-on-top'
				}
				}*/
			 }
		     },
		     postRender: function(control) {
			 /* is there a graph already? */
			 var has_graph = false;
			 
			 /* set up the map */
			 $('.col-md-6#right').append('<div id="map"></div>')
			 initialize_map();

			 /* update the map when the data sources change */
			 var sources = $(control.childrenByPropertyId['sources'].control);
			 sources.on('change', update_map);

			 /* make needed changes when selected var changes */
			 var dataset = $(control.childrenByPropertyId['var'].control);
			 dataset.on('change', update_var);

			 update_lidar_scans = function() {
			     /* updating the lidar select dropdown list */
			     var v = control.childrenByPropertyId['var'].getValue();
			     /* can't add wind barbs to radiometer data at the moment
				so don't allow that */
			     /* if (instrument == 'mwr') {
				barbbox.prop('checked', false);
				barbbox.prop('disabled', true);
				} else {
				barbbox.prop('disabled', false);
				};*/
			     /* disable all the options while we update them, and add
				spinner to the map */
			     var options = $(sources[0].options);
			     options.each(function(i, option) {
				 option.disabled = true;
			     });
			     spinner.spin();
			     $('#map').append(spinner.el);
			     /* get available scans and make new list */
			     /* keep track of the sites-- try to keep these sites
				selected when updating the choices */
			     var selected_sites = [];
			     $.each(sources[0].options, function(i, option) {
				 if (option.value != '') {
				     var site = lidars[i]['site_name'];
				     if (option.selected & (selected_sites.indexOf(site) == -1)) {
					 selected_sites.push(site);
				     };
				 };
			     });
			     return get_lidar_scans().done(function(lidars_api) {
				 lidars = lidars_api;
				 var arr = [];
				 $.each(lidars, function(i, lidar) {
				     arr.push({val: i,
					       text: lidar['lidar_name'] + ' (' + lidar['scan_name'] + ')'});
				 });
				 var sel = sources;
				 sel.empty();
				 $(arr).each(function(i, a) {
				     var selected = (selected_sites.indexOf(lidars[i]['site_name']) != -1);
				     sel.append($("<option>").attr('value', this.val).text(this.text).prop('selected', selected));
				 });
				 sources.change();
				 /* disable some options if needed (for wind datasets) */
				 disable_options();
				 update_map();
				 spinner.stop();

				 // get a graph if there isn't one
				 if (!has_graph) {
				     sel.val(['0']);
				     sel.change();
				     update_graphs();
				     has_graph = true;
				 }
			     });
			 };

			 /* change the data sources when the date range changes */
			 var dr = control.childrenByPropertyId['dr'];
			 var drp = dr.control.data('daterangepicker');
			 dr.on('change', update_lidar_scans);

			 /* get the max and min times for the datetime
			    fields, and set them to default values */
			 get_date_range().done(function(result) {
			     /* make sure to clone to avoid
				accidentally changing the
				daterangeicker times in other
				functions!! Use 'clone' to modify the
				times! */

			     var min_date = moment(result[0]);
			     var cur_date = moment(result[1]);
			     var max_date = cur_date.clone().add(1, 'd');
			     drp.minDate = min_date;
			     drp.maxDate = max_date;
			     drp.setStartDate(cur_date);
			     /* Starting the autoupdate here so it
			     only updates once when the page loads! */
			     drp.autoUpdateInput = true;
			     drp.setEndDate(max_date);
			 });
		     }
		 });
	     });
            </script>
	    <img id="lidar_graph" src="" alt="Results">
	    <script type="text/javascript">
	     /* a few useful variables */
	     var graph = $('#lidar_graph');
	     var selected_sites = [];
	     var instrument = 'lidar';
	     var mwr_data = ['temp', 'vapor', 'liquid', 'rh'];
	     /* the data variables that depend on wind information */
	     var requires_wind = ['barbs', 'hwind', 'zwind', 'xwind', 'ywind'];
	     /* circleMarker styling */
	     var cm_options = {radius: 6, color: 'blue', weight: 0,
			       opacity: .8, fillOpacity: .8};
	     var cm_selected_options = {radius: 6, color: 'orange',
					weight: 0,
					opacity: .8, fillOpacity: .8};
	     var spinner = new Spinner();
	     graph.on('load', function() {
		 try {
		     spinner.stop();
		 } catch(err) {};
		 graph.css('opacity', 1);
	     });
	     /* this variable stores information about the selected
		lidar/scan combinations */
	     var lidars;
	     var clickMarker = function(e) {
		 var event = e.originalEvent;
		 var marker = e.target;
		 var shift = event.shiftKey || event.ctrlKey;
		 if (shift && marker['selected']) {
		     deselectMarker(marker);
		 } else {
		     selectMarker(marker, shift);
		 };
	     }
	     var selectMarker = function(marker, shift) {
		 /* get the sources list */
		 var form = $('#form').alpaca('get');
		 var sources = $(form.childrenByPropertyId['sources'].control)[0];
		 marker['selected'] = true;
		 marker.setStyle(cm_selected_options);
		 /* reset the select list */
		 $.each(lidars, function(i, lidar) {
		     if (lidar['site_name'] == marker['name']) {
			 $(sources.options[i]).prop("selected", true);
		     } else {
			 if (!shift) {
			     $(sources.options[i]).prop("selected", false);	 
			 };
		     };
		 });
		 /* reset the map markers, unless the shift key was pressed */
		 if (!shift) {
		     $.each(markers.getLayers(), function(i, m2) {
			 if (m2['name'] != marker['name']) {
			     m2.setStyle(cm_options);
			     m2['selected'] = false;
			 };
		     });
		 };
	     };
	     var deselectMarker = function(marker) {
		 var form = $('#form').alpaca('get');
		 var sources = $(form.childrenByPropertyId['sources'].control)[0];
		 marker['selected'] = false;
		 marker.setStyle(cm_options);
		 $.each(lidars, function(i, lidar) {
		     if (lidar['site_name'] == marker['name']) {
			 $(sources.options[i]).prop("selected", false);
		     };
		 });
	     };
	     var get_date_range = function() {
		 return $.getJSON("{% url 'date_range' %}");
	     };
	     var get_lidar_scans = function(v) {
		 var form1 = $('#form').alpaca('get');
		 var v = form1.childrenByPropertyId['var'].getValue();
		 var dr = form1.childrenByPropertyId['dr'];
		 var drp = dr.control.data('daterangepicker');
		 var min_time = drp.startDate.format('YYYY-MM-DDTHH:mm:ss.SSS[Z]');
		 var max_time = drp.endDate.format('YYYY-MM-DDTHH:mm:ss.SSS[Z]');
		 var url = "{% url 'available_scans' %}?time_min=" +
			   min_time + '&time_max=' +
			   max_time + '&var=' + v;
		 return $.getJSON(url);
	     };
	     var update_graphs = function() {
		 var form = $('#form').alpaca('get');
		 var sources = form.childrenByPropertyId['sources'].getValue();
		 var var_str = form.childrenByPropertyId['var'].getValue();
		 var dr = $(form.childrenByPropertyId['dr'].control).data('daterangepicker');
		 /* the start and end dates are stored in the local
		    time zone instead of UTC. Rather than converting it,
		    I'm just printing out the local time and pretending
		    it's UTC */
		 var min_time = dr.startDate.format('YYYY-MM-DDTHH:mm:ss.SSS[Z]');
		 var max_time = dr.endDate.format('YYYY-MM-DDTHH:mm:ss.SSS[Z]');
		 var barbs = form.childrenByPropertyId['barb'].getValue();
		 /* stop if no sources selected */
		 if (sources.length == 0) {
		     return
		 }
		 var scan_ids = [];
		 $.each(sources, function(i0, index) {
		     var i2 = parseInt(index);
		     scan_ids.push(lidars[i2]['scan_id']);
		 });
		 'appsvr.asrc.cestm.albany.edu:9090/plot?lidar_id=12&scan_id=14&time_min=2016-11-21 00:00&time_max=2016-11-22 00:00&var=CNR&type=heat'
		 var url = "{% url 'plot' %}?scan_id=" +
			   scan_ids.join() + '&time_min=' +
			   min_time + '&time_max=' +
			   max_time + '&var=' +
			   var_str + '&type=heat';
		 if (barbs) {
		     url += '&barbs=True';
		 };
		 spinner.spin();
		 graph.css('opacity', .4);
		 $('body').append(spinner.el);
		 graph.attr("src", url);
	     };
	     var disable_options = function() {
		 var form = $('#form').alpaca('get');
		 var sources = $(form.childrenByPropertyId['sources'].control)[0];
		 /* var var_str = form.childrenByPropertyId['var'].getValue();*/
		 var var_str = $(form.childrenByPropertyId['var'].control).val();
		 var options = $(sources.options);
		 var var_requires_wind = requires_wind.indexOf(var_str) != -1;
		 /* var barbs_selected = barbbox.is(":checked");*/
		 if (var_requires_wind) {
		     /* disable the invalid choices */
		     options.each(function(i, option) {
			 /* disable if mode is not DBS */
			 var mode = lidars[i]['mode'];
			 if (mode != 'dbs') {
			     option.disabled = true;
			 };
		     });
		 } else {
		     /* none should be disabled */
		     options.each(function(i, option) {
			 /* disable if mode is not DBS */
			 option.disabled = false;
		     });
		 };
	     };
	     var update_map = function() {
		 markers.clearLayers();
		 var displayed_lidars = [];
		 var selected_lidars = [];
		 /* get all the selected sites */
		 var form1 = $('#form').alpaca('get');
		 var lidarpicker = form1.childrenByPropertyId['sources'].control;
		 $.each(lidarpicker[0].options, function(i, option) {
		     if (option.selected) {
			 selected_lidars.push(lidars[i]['site_name']);
		     };
		 });
		 $.each(lidars, function(i, lidar) {
		     var site = lidar['site_name'];
		     /* if the location hasn't been added to the map already */
		     if (displayed_lidars.indexOf(site) == -1) {
			 var lat = lidar['latitude'];
			 var lon = lidar['longitude']
			 var marker = L.circleMarker([lat, lon], cm_options);
			 marker['name'] = site
			 marker.on('click', clickMarker);
			 if (selected_lidars.indexOf(marker['name']) != -1) {
			     marker['selected'] = true;
			     marker.setStyle(cm_selected_options);
			 };
			 marker.bindTooltip(site);
			 markers.addLayer(marker);
			 displayed_lidars.push(site);
		     };
		 });
	     };
	     function update_var() {
		 disable_options();
		 // are we looking at lidar or mwr data?
		 var form = $('#form').alpaca('get');
		 var v = form.childrenByPropertyId['var'].getValue();
		 var var_instr = (mwr_data.indexOf(v) != -1) ? 'mwr' : 'lidar';
		 if (var_instr == instrument) {
		     // not going to update the choices in this case
		     return $.when();
		 } else {
		     instrument = var_instr;
		     update_lidar_scans();
		 };
	     };
	     var markers;
	     function initialize_map() {
		 var map_options = {zoomControl: false}
		 var map = L.map('map', map_options).setView([43, -76], 5);
		 L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1Ijoic2tlcHRpa29zIiwiYSI6ImNqNWU2NjNhYzAwcDEycWpqdTJtNWJmNGYifQ.kxK-j2hWsX46EhH5PnsTfA', {
		     maxZoom: 18,
		     id: 'mapbox.streets'
		 }).addTo(map);
		 markers = L.layerGroup().addTo(map);		 
	     }
	    </script>
	</div>
	{% include 'footer.html' %}
    </body>
</html>
