{% extends "base.html" %}
{% load static %}

{% block title %}Profiles{% endblock %}

{% block head_content %}
{% include 'leaflet.html' %}
{% include 'alpaca.html' %}
{% include 'daterangepicker.html' %}
<!-- spinning stuff -->
<script src="//cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
<!-- the site-wide css file -->
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<!-- stuff for this page -->
<script type="text/javascript" src="{% static 'profiles/js/main.js' %}"></script>
<style>
 #form {
     min-height: 450px;
 }
 #lidar_graph {
     min-height: 350px;
 }
 label.control-label::after {
     content: ':';
 }
 #left.col-md-6, #right.col-md-6 {
     width: 355px;
 }
 /* fix the buttons */
 .alpaca-form-buttons-container {
     text-align: left;
     margin: 10px;
 }
</style>
{% endblock %}

{% block content %}
<header>
    <h2>Profiles</h2>
</header>
<div id="form" data-datasets="{% url 'profiles:datasets' %}" data-template="{% static 'profiles/html/form.html' %}"
     data-daterange="{% url 'profiles:date_range' %}" data-scans="{% url 'profiles:available_scans' %}"
     data-plot="{% url 'profiles:plot' %}"></div>
<img id="lidar_graph" src="" alt="Results">
{% endblock %}
